<h1>Bidding Application</h1>
  <nav>
    <a routerLink="/login" routerLinkActive="active">Users</a>
    <a routerLink="/bidding" routerLinkActive="active">Bidding</a>
    <a routerLink="/login" routerLinkActive="active">Logout</a>
  </nav>
<!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">

<h1>Register User</h1>
<hr>
<form name="form" (ngSubmit)="f.form.valid && onSubmitUser()" #f="ngForm" novalidate>
  <div class="container">
    <label for="name"><b>User Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
    <div *ngIf="f.submitted && name.invalid" class="invalid-text">
      <div *ngIf="name.errors.required">Name is required</div>
    </div>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
    <div *ngIf="f.submitted && email.invalid" class="invalid-text">
      <div *ngIf="email.errors.required">Email is required</div>
      <div *ngIf="email.errors.email">Email must be a valid email address</div>
    </div> -->

    <!-- <label for="gender"><b>Gender</b></label>
    <select placeholder="Select Gender" name="gender" [(ngModel)]="model.gender" #gender="ngModel" [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }" required>
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
    <div *ngIf="f.submitted && gender.invalid" class="invalid-text">
      <div *ngIf="gender.errors.required">Gender is required</div>
    </div>
    <br>

    <label for="country"><b>Country</b></label>
    <select placeholder="Select country" name="country" [(ngModel)]="model.country" #country="ngModel" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" required>
      <option *ngFor="let country of countries" [value]="country.id"> {{country.name}}</option>
    </select>
    <div *ngIf="f.submitted && country.invalid" class="invalid-text">
      <div *ngIf="country.errors.required">Country is required</div>
    </div>
    <br>

    <label for="site"><b>Site URL</b></label>
    <input type="url" placeholder="Enter site URL" name="site" pattern="https?://.+" [(ngModel)] ="model.site" #site="ngModel" [ngClass]="{ 'is-invalid': f.submitted && site.invalid }"  required url>
    <div *ngIf="f.submitted && site.invalid" class="invalid-text">
      <div *ngIf="site.errors.required">Site is required</div>
      <div *ngIf="site.errors.pattern">Must be a valid site URL</div>
    </div> -->

    <!-- <label for="psw-repeat"><b>Password</b></label>
    <input type="password" placeholder="Password" name="pwd" [(ngModel)]="model.pwd" #pwd="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pwd.invalid }" required minlength="6">
    <div *ngIf="f.submitted && pwd.invalid" class="invalid-text">
      <div *ngIf="pwd.errors.required">Password is required</div>
      <div *ngIf="pwd.errors.minlength">Password must be at least 6 characters</div>
    </div>

    <hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Register</button>

  </div>

  <div class="container signin">
    <p>Already has an account? <a href="#">Sign in</a>.</p>
  </div>
</form> -->
